HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Kompilerte klasser
**/*.class

# Pakkefiler
**/*.jar
**/*.war

# IntelliJ IDEA spesifikke filer
.idea/
*.iml

# Byggmapper
target/

# Maven
mvnw
mvnw.cmd
.mvn/

# Andre filer som kan være spesifikke for ditt prosjekt
**/*.log
**/*.pid


### VS Code ###
.vscode/
